<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="threedchess.Droid">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="23" />
	<uses-permission android:name="android.permission.DELETE_PACKAGES" />
	<uses-permission android:name="android.permission.INSTALL_PACKAGES" />
	<application android:label="threedchess.Droid"></application>
</manifest>